= semantic_form_for @account_contact do |f|
  = f.inputs do
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :phone
  = f.buttons do
    = link_to "Cancel", :back, :class => "float-right"
    = f.commit_button  :button_html => {:class=>"primary"}
