//= link_to "Add Account", "#",:class=>"left_a lazy_model", :def_ref => "add_account"
= semantic_form_for @invoice do |f|
  = f.inputs do
    = f.label "Account"
    = f.select 'account_id', options_from_collection_for_select(@account_current_user, 'id', 'display_name', @invoice.account_id)
    = f.input :created_at ,{:as=>:string, :class =>"created_at" }
    //= f.collection_select(:organization_id,:statuses,Invoice.all,:statuses,:created_at)
    = f.input :statuses ,:label=>"Status",:collection => ["Received", "Pending", "Due","Processing","Returned","Approved" ]
    = f.input :tax,:label=>'Tax in %',:hint=>" for example - 4.5"
  %h5{:align => "right"}

    = f.commit_button  :button_html => { :class=>"primary" ,:value=>"Update Invoice"}
    %br/

  / table just for layout sake
  / <table >
  / <tr>
  / <td >
  / Form
  / <form name="invoice" id="invoice" method="post" action="create">
  / Main table


  %table#TableMain
    %th Product Name
    %th Quantity
    %th Unit Price
    %th Total
    %th
    %tr#row1
    %br/
    %br/
    %tbody
      - @sum=0
      - @i = 1
      - @line_items.each do |item|
        %tr
          %td
            %input{:name=>"pn[]",:id=>"pn#{@i}",:style=>"width:100px",:type=>"text",:value=>"#{item.name}"}/
          %td
            %input{:name=>"qty[]",:id=>"qty#{@i}",:style=>"width:100px",:type=>"text",:value=>"#{@a=item.quantity}",:onblur=>"calculate(#{@i})"}/
          %td
            %input{:name=>"up[]",:id=>"up#{@i}",:style=>"width:100px",:type=>"text",:value=>"#{@b=item.unit_price}",:onblur=>"calculate(#{@i})"}/
          %td
            =hidden_field_tag "tt",:value=>"#{@n=@a.to_f*@b.to_f}"
            %input{:name=>"total[]",:id=>"total#@i", :style=>"width:100px",:type=>"text",:value=>"#{@total=@n.to_f}",:readonly=>true}/
          %td
            %input#delete{:onclick => "deleteRow(this);", :type => "button", :value => "Delete"}/
            - @sum=@sum+@n
            - @i+=1 
  %div{:align => "right"}
    TOTAL:
    %input#gtotal{:name => "gtotal", :readonly => "true", :style => "width:100px", :type => "text", :value => "#{@sum}" }/
    %td{:valign => "top", :width => "20%"}
  / Add more button
  \
  %input#addlineitem{:onClick => "addRow('TableMain','row1')", :type => "button", :value => "Add Line Item"}/
  %br/
  %br/
  Add Product Key
  %input#keywords1{:name => "addkey", :type => "text"}/
  = hidden_field_tag "sum",@sum,  {:id => "sum"}
  = hidden_field_tag "number_of_row", @line_items.size
:javascript
  update_row_number(parseInt($("#number_of_row").val()));




