= semantic_form_for @invoice do |f|
  = f.inputs do
    .create_bt
      = f.label "Account"
      / #account_select
      / =# render :partial => "account_select", :locals => { :f => f }
      = f.select 'account_id', options_from_collection_for_select(@account_current_user, 'id', 'display_name', @invoice.account_id)
      = link_to "Add Account", "#",:class=>"left_a lazy_model" , :id => "lazy_model"
      #success
      = f.input :created_at ,{:as=>:string, :class =>"created_at" }
      = f.input :statuses ,:label=>"Status",:collection => ["Received", "Pending", "Due","Processing","Returned","Approved" ]
      = f.input :tax,:label=>'Tax in %',:hint=>" for example - 4.5"
    %h5{:align => "right"}
      = f.commit_button  :button_html => { :class=>"btn btn-primary btn-sub" ,:value=>"Save Invoice"}
      %br/
  / table just for layout sake
  / <table >
  / <tr>
  / <td >
  / Form
  / <form name="invoice" id="invoice" method="post" action="create">
  / Main table


  %table#TableMain
    %th Product Name
    %th Context Type 
    %th Quantity
    %th Unit Price
    %th Total
    %th 
    %tr#row1  
    %br/
    %br/
  %div{:align => "right"}
    TOTAL:
    %input#gtotal{:name => "gtotal", :readonly => "true", :style => "width:100px", :type => "text", :value => "0"}/
    %td{:valign => "top", :width => "20%"}
  / Add more button
  \  
  %input#addlineitem{:onClick => "addRow('TableMain','row1')", :type => "button", :value => "Add Line Item",  :class => "btn btn-primary" }/
  %br/
  %br/
  Add Product Key
  %input#keywords1{:name => "addkey", :type => "text"}/

/ #add_account.hidden
/   = render :partial=> "create_account"

#dialog
  #error-valid
  = form_tag( '', :id => 'add_acc') do
    %span Display Name
    %input{ type: "text", :name =>"account[display_name]", class: 'clearme'}
    %span Email
    %input{type: "text", :name => "account[email]", class: 'clearme'}
    %span Phone
    %input{ type: "text", :name => "account[phone]", class: 'clearme'}
    %input{type: 'submit', :value => 'Create Account', :id => 'create_acc', :class=>"btn btn-primary btn-sub" }
  #close_dialog 
    %input{type: 'button', :value => "Close", :class=>"btn btn-primary"}
  

