<h2>Sign in</h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div class="clearfix">
	<%= f.label :email %>
	<div class="input">
		<%= f.email_field :email %>
	</div>
</div>
<div class="clearfix">
	<%= f.label :password %>
	<div class="input">
		<%= f.password_field :password %>
	</div>	
</div>
<% if devise_mapping.rememberable? -%>
<div class="clearfix">
		<%= f.label :remember_me %>
	<div class="input">
		<%= f.check_box :remember_me %> 
	
	</div>
</div>
<% end -%>
<div class="clearfix">
	<%= f.submit "Sign in" ,:class=>"btn primary pullRight", :style=>"margin-left:150px;" %>
</div>
<% end %>
<div style="margin-left:150px;">
	<%= render :partial => "devise/shared/links" %>
</div>