%html
  %h1 Product Contexts
  %table{:class => "table table-striped zebra-striped"}
    %thead
      / displaying all the contexts of  product
    - if @product_contexts.empty?
      - flash[:notice]="No Context Is Available For the #{@product.name}"
    - else
      %tr
        %th Context Type
        %th Unit Price
        %th Start Time
        %th End Time
        %th Context Priority
        %th Edit
        %th Delete
      - @product_contexts.each do |f|
        %tr
          %td
            = link_to f.context_type,:controller => "product_contexts",:action => "show",:id=>f.id
          %td
            $
            =f.unit_price
          %td
            - if f.start_time!=nil
              = f.start_time
            - else
              \----
          %td
            - if f.end_time!=nil
              = f.end_time
            - else
              \----
          %td
            = f.context_priority
         
          %td
            = link_to "Edit", edit_product_product_context_path(@product.id,f.id),:class => "btn btn-primary"
          %td
            = link_to "Destroy context",product_product_context_path(@product.id,f.id), :method => :delete, :class => "btn btn-danger btn-large",:confirm => 'Are you sure want to DELETE your Context???',:method=> :delete
 
    = link_to "Add context",new_product_product_context_path(@product),:class => "btn btn-primary"
