.prod_content
  = link_to "Edit Product", edit_product_path(@product), :class => "btn btn-primary btn-sub"
  %h1= @product.name.capitalize
  %dl.details
  %dt Key
  %dd= @product.key
  %dt Price
  %dd= number_to_currency @product.unit_price
  %dt Description
  %dd= @product.description
