!!!
%html
  %head
    %title BillerBot
    = csrf_meta_tags
    = stylesheet_link_tag "application", "jquery-ui-1.8.18.custom","jquery.autocomplete","jquery-ui-timepicker-addon","formtastic"
    = javascript_include_tag "jquery.min" 
    = javascript_include_tag "application", "jquery-ui"
  %body
    .topbar.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/"}
            Biller Bot
          %ul.nav
            %li.active
              %a{:href => root_path} Home
            %li= link_to "Products" ,products_path
            %li= link_to "Accounts" ,accounts_path
            %li= link_to "Invoices" ,invoices_path
            %li
          %ul.nav.secondary-nav
            - if user_signed_in?
              %li
                %p
                  Hi, #{link_to current_user.display_name, edit_user_path(current_user)}
              %li= link_to "Sign out" , destroy_user_session_path, :method=>:delete
    .container{:style => "padding-top: 60px;"}
      #breadcrumbs
        = render_breadcrumbs
      - flash.each do |type, message|
        %div{:class => "alert-message #{type}"}
          %a.close.close_notice{:href => "#"} x
          %p= message
      #content
        = yield
    = javascript_include_tag "jquery.autocomplete","jquery-ui-timepicker-addon"             
    = javascript_include_tag :cocoon
